<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Email send!</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <div class="app">
      <div class="content">
        <div class="card">
          <div class="cardContent">
            <h1>You've got mail!</h1>
            <p>Check your inbox <br/>for the magic link.</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
