<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Auth successful</title>
  </head>
  <body>
    <div class="app">
      <div class="content">
        <div class="card">
          <div class="cardContent">
            <h1>successfully authenticated</h1>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
