<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Stytch example</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <div class="app">
      <div class="content">
        <div class="card">
          <div class="cardContent">
            <p>Sign up or log in to Stytch. </p>
            <form action="/login_or_create_user" method="POST">
              <div class="actions">
                <input type="text" name="email" placeholder="example@email.com" />
                <input class="arrow" type="submit">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
